.container
{
    background-color: rgb(192, 138, 192);
    
}

.button-container
{
    display: inline-block;
    width: 50%;
    /* display: flex; */
}
button:active {
    outline: blue auto 5px; 
}
.btn
{
    background-color: rgb(241, 190, 145);
    border-radius: 5px;
    margin: 5px;
    border: 0px solid white;
    padding: 9px;
    cursor: pointer;
    font-weight: bold;
}